<div class="row">
  <div class="col-md-5">
    <div class="form-group <%= f.has_error?(:dst) %>">
      <%= conf.l_text_field :dst %>
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group <%= f.has_error?(:host) %>">
      <%= conf.l_text_field :host %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group <%= f.has_error?(:port) %>">
      <%= conf.l_text_field :port %>
    </div>
  </div>
</div>
