<tr data-url="<%= address_verification_path(address_verification) %>">
  <td><%= address_verification.identity_link %></td>
  <td><%= address_verification.address_link %></td>
  <td><%= address_verification.status %></td>
  <td><%= address_verification.dids.count %></td>
  <td><%= address_verification.created_at %></td>
  <td><%= address_verification.id %></td>
  <td class="text-right text-nowrap">
    <%= show_button address_verification_path(address_verification), :small %>
  </td>
</tr>
