<tr data-url="<%= trunk_path(trunk) %>" data-trunk-group-id="<%= trunk_group_id %>" class="collapse">
  <td>
    &nbsp;&nbsp;<i class="fa fa-level-up fa-rotate-90"></i>&nbsp;&nbsp;
    <%= trunk.name %>
  </td>
  <td><%= trunk.configuration_type_human %></td>
  <td><%= trunk.description %></td>
  <td><%= trunk.priority %></td>
  <td><%= trunk.weight %></td>
  <td><%= trunk.capacity_limit %></td>
  <td></td>
  <td class="text-right text-nowrap">
    <%= show_button trunk_path(trunk), :small %>
    <%= edit_button edit_trunk_path(trunk), :small %>
  </td>
</tr>
