<tr data-url="<%= trunk_group_path(trunk_group) %>">
  <td>
    <span class="<%= trunk_group.trunks.empty? ? 'invisible' : 'js-clickable-nofollow' %>" data-target='[data-trunk-group-id="<%= trunk_group.id %>"]' data-toggle="collapse">
      &nbsp;<i class="fa fa-plus-square"></i>&nbsp;
    </span>
    <%= trunk_group.name %>
  </td>
  <td colspan="4">Trunk Group</td>
  <td><%= trunk_group.capacity_limit %></td>
  <td><%= trunk_group.created_at %></td>
  <td class="text-right text-nowrap">
    <%= show_button trunk_group_path(trunk_group), :small %>
    <%= edit_button edit_trunk_group_path(trunk_group), :small %>
    <%= delete_button trunk_group_path(trunk_group), :small, confirm: 'Are you sure to delete this Trunk Group?' %>
  </td>
</tr>

<%= render partial: 'trunk', collection: trunk_group.trunks.sort_by(&:priority),
         locals: { trunk_group_id: trunk_group.id } %>
