<%= resource_form_with(model: resource, local: true) do |f| %>
  <%= render 'shared/form_errors' %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group <%= f.has_error?(:'filters.month') %> <%= f.has_error?(:'filters.year') %>">
        <label>Period:</label>
        <%= f.text_field :period, value: period_for_cdr(f.object),
                  placeholder: "Select month...", class: 'form-control',
                  data: { provide: 'datepicker', date_format: 'yyyy / mm',
                          date_start_view: 1, date_min_view_mode: 1,
                          date_end_date: 'today' } %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group <%= f.has_error?(:'filters.did_number') %>">
        <%= f.l_text_field :did_number %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr />
      <div class="form-group">
        <%= f.l_text_field :callback_url, value: build_callback_url %>
      </div>
      <div class="form-group">
        <%= f.l_select :callback_method, %w'GET POST', prompt: 'Select Method' %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-success", data: { disable_with: "Submitting" } %>
      </div>
    </div>
  </div>
<% end %>
