<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'My DIDs', dids_path %> >
    <%= resource.number %>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <table class="table table-bordered table-condensed">
      <tbody>
        <%= attribute_row :number %>
        <%= attribute_row :area_name, value: "#{area_name(resource)}" %>
        <%= attribute_row :description %>
        <%= attribute_row :capacity_limit %>
        <%= attribute_row :channels_included_count %>
        <%= attribute_row :capacity_pool, value: capacity_pool_link %>
        <%= attribute_row :dedicated_channels_count %>
        <%= attribute_row :expires_at %>
        <%= attribute_row :created_at %>

        <%= attribute_row :blocked %>
        <%= attribute_row :awaiting_registration %>
        <%= attribute_row :terminated %>
        <%= attribute_row :billing_cycles_count %>
        <%= attribute_row :requirement, value: resource.requirement_link %>
        <%= attribute_row :address_verification, value: @address_verification.link %>
        <%= attribute_row :address, value: @address_verification.address_link %>
        <%= attribute_row :identity, value: @address_verification.identity_link %>

        <%= attribute_row nil, label: t('resources.trunk'), value: link_to_trunk(resource.trunk) %>
        <%= attribute_row nil, label: t('resources.trunk_group'), value: link_to_trunk_group(resource.trunk_group) %>

      </tbody>
    </table>
    <div class="row">
      <div class="col-lg-12">
        <%= edit_button edit_did_path(resource) %>
        <% delete_button did_path(resource), confirm: 'Are you sure to delete this DID?' %>
      </div>
    </div>

  </div>
  <!-- /.panel-body -->
</div>
