<%= render 'shared/filter' do %>
  <div class="row">
    <div class="col-md-6 js-dynamic-cities js-only-available">
      <div class="form-group">
        <label>Required features:</label><br>
        <% resource_klass::FEATURES.each do |val, human| %>
          <label class="checkbox-inline">
            <%= check_box_tag 'q[features][]', val, filters['features']&.include?(val) %>
            <%= human %>
          </label>
        <% end %>
      </div>

      <div class="form-group js-country-select-container">
        <label>Country:</label>
        <%= select_tag 'q[country.id]',
              options_for_select(
                countries.collect {|c| [c[:name], c[:id], { 'data-has-regions': c.has_regions?, 'data-has-nanpa-prefix': %w[US CA].include?(c.iso) ? true : false }]},
                selected: filters['country.id']),
              prompt: "Select country...",
              class: 'form-control'
        %>
      </div>

      <div class="row">
        <div class="col-lg-6 js-region-select-container" style='display:none;'>
          <div class="form-group">
            <label>Region:</label>
            <%= render 'dynamic_forms/regions/select' %>
          </div>
        </div>
        <div class="col-lg-6 js-nanpa-prefix-select-container" style='display:none;'>
          <div class="form-group">
            <label>NANPA prefix:</label>
            <%= render 'dynamic_forms/nanpa_prefixes/select' %>
          </div>
        </div>
        <div class="col-lg-6 js-city-select-container" style='display:none;'>
          <div class="form-group">
            <label>City:</label>
            <%= render 'dynamic_forms/cities/select' %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
      <div class="form-group">
        <label>Number types</label>
        <% did_group_types.each do |dgt| %>
          <div class="checkbox">
            <label>
              <%= check_box_tag 'q[did_group_type.id][]', dgt.id,
                    filters['did_group_type.id']&.include?(dgt.id) || filters['did_group_type.id'].nil? %>
              <%= dgt.name %>
            </label>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
      <div class="form-group">
        <label>Metered</label>
        <%= select_tag 'q[is_metered]', options_for_select([
              ['Yes', true],
              ['No', false]
            ], selected: filters['is_metered']),
            prompt: 'any',
            class: 'form-control' %>
      </div>

      <div class="form-group">
        <label>Allows additional channels</label>
        <%= select_tag 'q[allow_additional_channels]', options_for_select([
              ['Yes', true],
              ['No', false]
            ], selected: filters['allow_additional_channels']),
            prompt: 'any',
            class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
      <div class="form-group">
        <label>Registration</label>
        <%= select_tag 'q[needs_registration]', options_for_select([
              ['Required', true],
              ['Not Required', false]
            ], selected: filters['needs_registration']),
            prompt: 'any',
            class: 'form-control' %>
      </div>

      <div class="form-group">
        <label>Availability</label>
        <%= select_tag 'q[is_available]', options_for_select([
              ['Available', true],
              ['Not Available', false]
            ], filters['is_available']),
            prompt: 'any',
            class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
      <div class="form-group">
        <label>Available DIDs feature</label>
        <%= select_tag 'q[available_dids_enabled]',
                       options_for_select([
                                              ['Available', true],
                                              ['Not Available', false]
                                          ], selected: filters['available_dids_enabled']),
                       prompt: 'any',
                       class: 'form-control' %>
      </div>
    </div>

  </div>
<% end %>
