<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table width="100%" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>DID</th>
            <th>Type</th>
            <th class="text-center">Voice IN | T.38 | SMS IN</th>
            <th>Channels included</th>
            <th>Setup price (NRC)</th>
            <th>Monthly price (MRC)</th>
            <th>Qty</th>
          </tr>
        </thead>
        <tbody>
          <%= f.fields_for :items, include_id: false do |conf| %>
            <% next unless conf.object.is_a? DIDWW::ComplexObject::DidOrderItem %>
            <% did_group = conf.object[:did_group] %>

            <tr data-did-group-id="<%= did_group.id %>">
              <td>
                <%= did_group_full_prefix(did_group) %>
                <%= [did_group.country&.name, did_group.area_name].compact.join(' / ') %>
              </td>
              <td><%= did_group.did_group_type.name %></td>
              <td class="text-center text-nowrap">
                <%= did_group.features.include?('voice_in') ? '✓' : '✗' %> &nbsp;
                <%= did_group.features.include?('t38') ? '✓' : '✗' %> &nbsp;
                <%= did_group.features.include?('sms_in') ? '✓' : '✗' %>
              </td>
              <td>
                <%= conf.hidden_field :did_group_id %>
                <%= conf.hidden_field :nanpa_prefix_id %>
                <%= conf.check_box :in, checked: true, class: 'hidden js-cart-item-did-in' %>
                <%= conf.select :sku_id,
                      options_for_select( did_group.stock_keeping_units.map do |sku|
                        [
                          sku.channels_included_count,
                          sku.id,
                          data: {
                            nrc: sku.setup_price,
                            mrc: sku.monthly_price,
                          }
                        ]
                      end ), {}, { class: 'form-control input-sm js-cart-item-did-sku-id' }
                %>
              </td>
              <td class="js-cart-item-did-nrc"></td>
              <td class="js-cart-item-did-mrc"></td>
              <td class="form-inline text-right text-nowrap">
                <%= conf.number_field :qty, class: 'form-control input-sm js-cart-item-did-qty', min: 1 %>
                <label class="control-label">
                  <div class="btn btn-sm btn-danger js-cart-remove-item">
                    <i class="fa fa-trash"></i>
                  </div>
                </label>
              </td>
            </tr>
            <% if did_group.meta[:needs_registration] && did_group.requirement %>
              <tr data-did-group-id="<%= did_group.id %>">
                <td colspan="7">
                  <a href='javascript:;' class="js-order-restrictions-toggle">Review registration notes</a>
                  <div class="collapse js-order-restrictions">
                    <br>
                    <p class="well">
                      <em><%= did_group.requirement.restriction_message %></em>
                    </p>
                    <div class="form-group">
                      <label class="checkbox-inline">
                        <%= check_box_tag "#{did_group.id}_restrictions_accept", 1,
                                params["#{did_group.id}_restrictions_accept"],
                                class: 'js-order-restrictions-accept' %>
                        I agree
                      </label>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>

          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
