<%= resource_form_with(model: resource, local: true, html: { class: 'js-cart-form js-order-form' }) do |f| %>
  <%= render 'shared/form_errors' %>

  <%= render 'did_order_item_form_fields', f: f if resource.items.any?{ |i| i.is_a? DIDWW::ComplexObject::DidOrderItem } %>

  <%= render 'capacity_order_item_form_fields', f: f if resource.items.any?{ |i| i.is_a? DIDWW::ComplexObject::CapacityOrderItem } %>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <% if resource.errors[:qty].any?{|e| e['exceeds available DIDs count'] } %>
          <%= f.l_check_box :allow_back_ordering %>
        <% end %>
      </div>
      <hr />
      <div class="form-group">
        <% if resource.items.any?{ |i| i.is_a? DIDWW::ComplexObject::DidOrderItem } %>
          <h4>
            Total for DIDs order: <strong class="js-dids-order-subtotal"></strong>
          </h4>
        <% end %>
        <% if resource.items.any?{ |i| i.is_a? DIDWW::ComplexObject::CapacityOrderItem } %>
          <h4>
            Total for Channels order: <strong class="js-capacity-order-subtotal"></strong>
          </h4>
        <% end %>
      </div>
      <hr />

      <div class="form-group">
        <button type="submit" class="btn btn-success" data-disable-with="Submitting">Submit</button>
      </div>
    </div>
  </div>
<% end %>
