<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'My Orders', orders_path %> > Order <%= resource.reference %>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
        <p>
          <strong>Description</strong><br>
          <%= resource.description %>
        </p>
        <p>
          <strong>Status</strong><br>
          <%= resource.status %>
        </p>
      </div>
      <div class="col-sm-3">
        <p>
          <strong>Created at</strong><br>
          <%= resource.created_at %>
        </p>
        <p>
          <strong>Amount</strong><br>
          <%= number_to_currency resource.amount %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p><strong>Order items</strong></p>
        <% if (collection = resource.items.select{|i| i.is_a? DIDWW::ComplexObject::DidOrderItem }).any? %>
          <%= render 'did_order_item_table', collection: collection %>
        <% end %>
        <% if (collection = resource.items.select{|i| i.is_a? DIDWW::ComplexObject::CapacityOrderItem }).any? %>
          <%= render 'capacity_order_item_table', collection: collection %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= delete_button order_path(resource), confirm: 'Are you sure to cancel this Order?', text: 'Cancel' if resource.pending? %>
      </div>
    </div>
  </div>
  <!-- /.panel-body -->
</div>
