<table class="table table-bordered table-condensed">
  <tbody>
  <%= attribute_row :id, label: 'ID' %>
  <%= attribute_row :first_name %>
  <%= attribute_row :last_name %>
  <%= attribute_row :phone_number %>
  <%= attribute_row :id_number %>
  <%= attribute_row :country, value: resource.country&.name %>
  <%= attribute_row :birth_date %>
  <%= attribute_row :company_name %>
  <%= attribute_row :company_reg_number %>
  <%= attribute_row :vat_id %>
  <%= attribute_row :description %>
  <%= attribute_row :personal_tax_id %>
  <%= attribute_row :identity_type %>
  <%= attribute_row :proofs, value: resource.proofs.count %>
  </tbody>
</table>
