<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'Identities', identities_path %> >
    <strong><%= resource.display_name %></strong>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%= render "identity_table" %>
    <div class="row">
      <div class="col-lg-12">
        <%= edit_button edit_identity_path(resource) %>
        <%= modal_trigger_button 'Validate Requirement',
                                 modal_id: 'requirement-validation-modal',
                                 type: :info,
                                 icon: :'check-circle-o' %>
        <%= delete_button identity_path(resource), confirm: 'Are you sure to delete this Identity?' %>
      </div>
    </div>
  </div>
  <!-- /.panel-body -->
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Addresses
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <%= render 'addresses' %>
      </div>
      <div class="col-lg-12">
        <%= new_button new_address_path(identity_id: resource.id), label: 'Add address' %>
      </div>
    </div>
  </div>
  <!-- /.panel-body -->
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Proofs
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <%= render partial: 'proofs/proofs' %>
      </div>
      <div class="col-lg-12">
        <!-- Button trigger add proof modal -->
        <%= modal_trigger_button 'Add proof',
                                 modal_id: 'add-proof-modal',
                                 type: :success,
                                 icon: :plus %>
      </div>
    </div>
  </div>
  <!-- /.panel-body -->
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Permanent documents
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <ul>
          <%= render partial: 'permanent_supporting_document/permanent_supporting_document', collection: resource.permanent_documents %>
        </ul>
      </div>
      <div class="col-lg-12">
        <!-- Button trigger add permanent document modal -->
        <%= modal_trigger_button 'Add permanent document',
                                 modal_id: 'add-permanent-document-modal',
                                 type: :success,
                                 icon: :plus %>
      </div>
    </div>
  </div>
  <!-- /.panel-body -->
</div>

<!--Requirement Validation Modal-->
<%= render partial: 'requirement_validation/requirement_validation_modal' %>

<!-- Add Proof Modal -->
<%= render partial: 'proofs/add_proof_modal' %>
<!-- Replace Proof Modal -->
<%= render partial: 'proofs/replace_proof_modal' %>

<!-- Add Permanent Document Modal -->
<%= render partial: 'permanent_supporting_document/add_permanent_document_modal' %>
<!-- Replace Permanent Document Modal -->
<%= render partial: 'permanent_supporting_document/replace_permanent_document_modal' %>
