<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'Addresses', addresses_path %> >
    <strong><%= resource.display_name %></strong>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <table class="table table-bordered table-condensed">
      <tbody>
      <%= attribute_row :id, label: 'ID' %>
      <%= attribute_row :identity, value: resource.identity_link %>
      <%= attribute_row :country, value: resource.country&.name %>
      <%= attribute_row :city_name %>
      <%= attribute_row :postal_code %>
      <%= attribute_row :address %>
      <%= attribute_row :description %>
      </tbody>
    </table>
    <div class="row">
      <div class="col-lg-12">
        <%= edit_button edit_address_path(resource) %>
        <%= modal_trigger_button 'Validate Requirement',
                                 modal_id: 'requirement-validation-modal',
                                 type: :info,
                                 icon: :'check-circle-o' %>
        <%= delete_button address_path(resource), confirm: 'Are you sure to delete this Address?' %>
      </div>
    </div>
  </div>
  <!-- /.panel-body -->
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Proofs
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <%= render partial: 'proofs/proofs' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!-- Button trigger add proof modal -->
        <%= modal_trigger_button 'Add proof',
                                 modal_id: 'add-proof-modal',
                                 type: :success,
                                 icon: :plus %>
      </div>
    </div>
  </div>
  <!-- /.panel-body -->
</div>

<!--Requirement Validation Modal-->
<%= render partial: 'requirement_validation/requirement_validation_modal' %>

<!-- Add Proof Modal -->
<%= render partial: 'proofs/add_proof_modal' %>
<!-- Replace Proof Modal -->
<%= render partial: 'proofs/replace_proof_modal' %>
