<div class="panel-group">
  <%= f.fields_for :configuration, include_id: false do |conf| %>
    <%= collapsible_panel 'General', active: true do %>
      <%= render 'trunks/fields/name_and_capacity_limit', f: f %>
      <%= render 'trunks/fields/dst_host_port', f: f, conf: conf %>
      <%= render 'trunks/fields/cli_format_prefix', f: f %>
    <% end %>

    <%= collapsible_panel 'Trunk group configuration' do %>
      <%= render 'trunks/fields/trunk_group', f: f %>
    <% end %>

    <%= collapsible_panel 'Media & DTMF' do %>
      <%= render 'trunks/fields/codec_ids', f: f, conf: conf %>
    <% end %>
  <% end %>
</div>
