<div class="panel-group">
  <%= f.fields_for :configuration, include_id: false do |conf| %>
    <%= collapsible_panel 'General', active: true do %>
      <%= render 'trunks/fields/name_and_capacity_limit', f: f %>
      <%= render 'trunks/fields/username_host_protocol_port', f: f, conf: conf %>
      <%= render 'trunks/fields/resolve_ruri', f: f, conf: conf %>
      <%= render 'trunks/fields/cli_format_prefix', f: f %>
    <% end %>

    <%= collapsible_panel 'Trunk group configuration' do %>
      <%= render 'trunks/fields/trunk_group', f: f %>
      <%= render 'trunks/fields/disconnect_codes', f: f, conf: conf %>
    <% end %>

    <%= collapsible_panel 'Authentication' do %>
      <%= render 'trunks/fields/auth_enabled', f: f, conf: conf %>
      <%= render 'trunks/fields/auth_user_pwd', f: f, conf: conf %>
      <%= render 'trunks/fields/auth_from', f: f, conf: conf %>
    <% end %>

    <%= collapsible_panel 'Media & DTMF' do %>
      <%= render 'trunks/fields/codec_ids', f: f, conf: conf %>
      <%= render 'trunks/fields/dtmf_and_rtp', f: f, conf: conf %>
    <% end %>

    <%= collapsible_panel 'Advanced Signalling Settings' do %>
      <%= render 'trunks/fields/advanced_signalling', f: f, conf: conf %>
    <% end %>

  <% end %>
</div>
