<%= render 'voice_in_trunks/fields/name_and_capacity_limit', f: f, skip_pop_select: true %>

<%= f.fields_for :configuration, include_id: false do |conf| %>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group <%= f.has_error?(:dst) %>">
        <%= conf.l_text_field :dst %>
      </div>
    </div>
  </div>
<% end %>

<%= render 'voice_in_trunks/fields/trunk_group', f: f %>
