<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'My Trunks', voice_in_trunks_path %> >
    <%= resource.name %>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <table class="table table-bordered table-condensed">
      <tbody>
        <%= attribute_row :name %>
        <%= attribute_row :configuration, value: resource.configuration_type_human %>
        <%= attribute_row :trunk_group, value: trunk_group_link %>
        <%= attribute_row :description %>
        <%= attribute_row :capacity_limit %>
        <%= attribute_row :priority %>
        <%= attribute_row :weight %>
        <%= attribute_row :ringing_timeout %>
        <%= attribute_row :cli_format, value: resource.cli_format_human %>
        <%= attribute_row :cli_prefix %>
        <%= attribute_row :pop, value: resource.pop&.name || t("trunk.pop_default") %>
      </tbody>
    </table>
    <div class="row">
      <div class="col-lg-12">
        <%= edit_button edit_voice_in_trunk_path(resource) %>
        <%= delete_button voice_in_trunk_path(resource), confirm: 'Are you sure to delete this Trunk?' %>
      </div>
    </div>

  </div>
  <!-- /.panel-body -->
</div>
