<%= render 'shared/filter' do %>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="form-group">
        <label>Name:</label>
        <%= text_field_tag 'q[name]', filters['name'],
              placeholder: "Search by name...", class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="form-group">
        <label>Status:</label>
        <%= select_tag 'q[status]',
                       options_for_select(
                         resource.model.class::STATUSES,
                         selected: filters['status']),
                       prompt: "Search by status...",
                       class: 'form-control'
        %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="form-group">
        <label>Name contains:</label>
        <%= text_field_tag 'q[name_contains]', filters['name_contains'],
                           placeholder: "Search by name contains...", class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="form-group">
        <label>On CLI mismatch action:</label>
        <%= select_tag 'q[on_cli_mismatch_action]',
                       options_for_select(
                         resource.model.class::ON_CLI_MISMATCH_ACTIONS,
                         selected: filters['on_cli_mismatch_action']),
                       prompt: "Search by On CLI mismatch action...",
                       class: 'form-control'
        %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="form-group">
        <label>Allow any DID as CLI:</label><br>
        <%= check_box_tag 'q[allow_any_did_as_cli]', true, filters['allow_any_did_as_cli'] %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="form-group">
        <label>Default DST action:</label>
        <%= select_tag 'q[default_dst_action]',
                       options_for_select(
                         resource.model.class::DEFAULT_DST_ACTIONS,
                         selected: filters['default_dst_action']),
                       prompt: "Search by Default DST action...",
                       class: 'form-control'
        %>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="form-group">
        <label>Media Encryption Mode:</label>
        <%= select_tag 'q[media_encryption_mode]',
                       options_for_select(
                         resource.model.class::MEDIA_ENCRYPTION_MODES,
                         selected: filters['media_encryption_mode']),
                       prompt: "Search by Media Encryption Mode...",
                       class: 'form-control'
        %>
      </div>
    </div>
  </div>
<% end %><!-- /form -->
