<tr data-url="<%= voice_out_trunk_path(voice_out_trunk) %>">
  <td><%= voice_out_trunk.name %></td>
  <td><%= voice_out_trunk.display_allowed_sip_ips %></td>
  <td><%= voice_out_trunk.display_allowed_rtp_ips %></td>
  <td><%= voice_out_trunk.on_cli_mismatch_action %></td>
  <td><%= voice_out_trunk.capacity_limit %></td>
  <td><%= voice_out_trunk.username %></td>
  <td><%= voice_out_trunk.password %></td>
  <td><%= voice_out_trunk.allow_any_did_as_cli %></td>
  <td><%= voice_out_trunk.status %></td>
  <td><%= voice_out_trunk.threshold_reached %></td>
  <td><%= voice_out_trunk.threshold_amount %></td>
  <td><%= voice_out_trunk.default_dst_action %></td>
  <td><%= voice_out_trunk.dst_prefixes.count %></td>
  <td><%= voice_out_trunk.media_encryption_mode %></td>
  <td><%= voice_out_trunk.callback_url %></td>
  <td><%= voice_out_trunk.force_symmetric_rtp %></td>
  <td><%= voice_out_trunk.rtp_ping %></td>
  <td><%= voice_out_trunk.spent_amount %></td>
  <td><%= voice_out_trunk.created_at %></td>
  <td class="text-right text-nowrap">
    <%= show_button voice_out_trunk_path(voice_out_trunk), :small %>
    <%= edit_button edit_voice_out_trunk_path(voice_out_trunk), :small %>
    <%= delete_button voice_out_trunk_path(voice_out_trunk), :small, confirm: 'Are you sure to delete this "Voice In" Trunk?' %>
  </td>
</tr>


