<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'My Voice Out Trunks', voice_out_trunks_path %> >
    <%= resource.name %>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <%= form_tag regenerate_credentials_voice_out_trunk_path, method: :patch do %>
          <button type="submit" class="btn btn-success" data-disable-with="Regenerate...">
            <i class="fa fa-refresh fa-lg"></i>&nbsp;&nbsp;Regenerate Credentials&nbsp;&nbsp;
          </button>
        <% end %>
      </div>
    </div>
    <hr />
    <table class="table table-bordered table-condensed">
      <tbody>
        <%= attribute_row :name %>
        <%= attribute_row :display_allowed_sip_ips %>
        <%= attribute_row :display_allowed_rtp_ips %>
        <%= attribute_row :on_cli_mismatch_action %>
        <%= attribute_row :capacity_limit %>
        <%= attribute_row :username %>
        <%= attribute_row :password %>
        <%= attribute_row :allow_any_did_as_cli %>
        <%= attribute_row :status %>
        <%= attribute_row :threshold_reached %>
        <%= attribute_row :threshold_amount %>
        <%= attribute_row :default_dst_action %>
        <%= attribute_row :media_encryption_mode %>
        <%= attribute_row :callback_url %>
        <%= attribute_row :force_symmetric_rtp %>
        <%= attribute_row :rtp_ping %>
        <%= attribute_row :spent_amount %>
        <%= attribute_row :created_at %>
        <tr>
          <td><strong>Dids</strong></td>
          <td>
            <% resource.dids.each do |did| %>
              <%= link_to did.number, did_path(did) %>
              <br>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-lg-12">
        <%= edit_button edit_voice_out_trunk_path(resource) %>
        <%= delete_button voice_out_trunk_path(resource), confirm: 'Are you sure to delete this Voice Out Trunk?' %>
      </div>
    </div>

  </div>
  <!-- /.panel-body -->
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    DST prefixes (<%= resource.dst_prefixes.count %>)
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <% if resource.dst_prefixes.any? %>
          <%= resource.dst_prefixes.join(', ')%>
        <% end %>
      </div>
    </div>
  </div>
</div>
