<tr data-url="<%= export_path(export) %>">
  <td><%= export.created_at %></td>
  <td><%= period_for_cdr(export) %></td>
  <td><%= t("export.#{export.export_type}_human") %></td>
  <td><%= export.status %></td>
  <td><%= export.filters.did_number %></td>
  <td><%= export.voice_out_trunk_link %></td>
  <td><%= export.filters.day %></td>
  <td class="text-right text-nowrap">
    <%= show_button export_path(export), :small %>
    <%= download_button(export_path(export, :csv), :small) if export.url.present? %>
  </td>
</tr>
